<div class="timer">
  <h1>Timer</h1>
  <div>
    <button class="timer-button" [disabled]="running" (click)="modifyTimer(-10 * 60)">-10m</button>
    <button class="timer-button" [disabled]="running" (click)="modifyTimer(-1 * 60)">-1m</button>
    <button class="timer-button" [disabled]="running" (click)="modifyTimer(-10)">-10s</button>
    <button class="timer-button" [disabled]="running" (click)="modifyTimer(-1)">-1s</button>
    <p>{{ timerString }}</p>
    <button class="timer-button" [disabled]="running" (click)="modifyTimer(10 * 60)">+10m</button>
    <button class="timer-button" [disabled]="running" (click)="modifyTimer(1 * 60)">+1m</button>
    <button class="timer-button" [disabled]="running" (click)="modifyTimer(10)">+10s</button>
    <button class="timer-button" [disabled]="running" (click)="modifyTimer(1)">+1s</button>
    <hr>
    <button class="timer-button" [disabled]="running || timer == 0" (click)="start()">Start</button>
    <button class="timer-button" [disabled]="!running || timer == 0" (click)="pause()">Pause</button>
    <button class="timer-button" [disabled]="!running" (click)="reset()">Reset</button>
  </div>
</div>
